* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10+ and Edge */
	user-select: none; /* Standard syntax */ 
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #282828;
	html, body {margin: 0; height: 100%; overflow: hidden}
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
}
